# Composer dependencies
/vendor/
/composer.lock

# Node dependencies
/node_modules/

# Laravel & PHP
.phpunit.result.cache
.env
.env.*
Homestead.json
Homestead.yaml

# IDEs & Editors
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Pest & PHPUnit
/.pest*

# Coverage
/coverage/

# Misc
*.swp
*.bak
*.tmp 